<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <property name="APP" value="ArtemisUpdater" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/${APP}-%d{yyyy-MM-dd}.log.gz</FileNamePattern>
            <MaxHistory>15</MaxHistory>
        </rollingPolicy>
　　　　　<encoder>
　　　　　　　 <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
　　　　　</encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

    <logger name="org.springframework.boot.context.embedded.tomcat" level="INFO"/>
    <logger name="org.springframework.jdbc.core.JdbcTemplate" level="INFO"/>

</configuration>